[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
boto3 = "*"
mypy = "*"
boto3-stubs = {extras = ["ssm"], version = "*"}
asyncio = "*"
aiohttp = "*"
setuptools = "*"
websockets = "*"

[dev-packages]

[requires]
python_version = "3.11"
