[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
boto3 = "*"
mypy = "*"
boto3-stubs = {extras = ["ssm"] }
asyncio = "*"
aiohttp = "*"
setuptools = "*"
websockets = "*"
pytest = "*"
pytest-asyncio = "*"
openai = "*"
tiktoken = "*"
types-aioboto3 = {extras = ["essential"], version = "*"}
pytest-stub = "*"

[dev-packages]
numpy = "*"
fastapi = "*"
pydantic = "*"
uvicorn = "*"
coverage = "*"

[requires]
python_version = "3.11"
